
<html>
<header>
<title>Knowledge Base</title>
<link rel= "stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel= "stylesheet" href="/stylesheets/style.css"/>

</header>
<body>
<div class="container">
      <div class="header clearfix">
      <h2 class="heading" align= "center">The Oracle</h2> </br>
		{{{body}}}

	  <!--</br><div align = "center" class = "logout" > <a href="/auth/logout">Logout</a> </div> -->
      </div> 
      


 

      <footer class="footer">
        <p>&copy; Saleshub @ 2017</p>
      </footer>

    </div> <!-- /container --></body>
</html>