

<div style="text-align:center;">
<p class="writing">Welcome Page</br>

<button type="button" class="update" id= "add" >Add Inventory Data</button> </br> </br>
<button type="button" class="update" id= "show" >Discover Inventory</button>

</div>


<script type="text/javascript">
	// go to add page
    document.getElementById("add").onclick = function () {
        window.location.href = 'http://localhost:3000/add';
    };

    //go to show page
    document.getElementById("show").onclick = function () {
        window.location.href = 'http://localhost:3000/show';
    };
</script>
