body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer{
	
    font-style: italic; 
    color: #B6B6B6; 
    font-size: 15px; 
    margin-top: 20px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff;
}

/* buttons */

.update {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.delete {
	border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: px 2px;
    cursor: pointer;
	background-color: #f44336;
  border-radius: 5px;

}


.cancel {
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: px 2px;
    cursor: pointer;
    background-color: #f44336;
  border-radius: 5px;

}

/* button ends*/

/* test CSS for the green border stuff */

.section {
	border: 6px solid #73AD21;
	margin: 20px;
	width: 500px;
	border-radius: 25px;
	margin-bottom: 20px;
}

/* for accordian on show page */
.accordionItemHeading{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:8px;
    background:#2980b9;
    color:#fff;
    width: 100%;
	  border-radius: 3px;
    box-sizing: border-box;
    font-size: 20px;
}


.accordionItemContent{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
    -webkit-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.4s ease-out;
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
	transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  box-sizing: border-box;
  border-radius: 3px;
}

/*accordian ends here */


/*textarea for display*/

.textareadisplay{
  
  margin-bottom: 20px;
  /*width: 100%;
  background-color: blue; */
}


/* New Form Stuff */


.form-style-2{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style-2 input.input-field{
    width: 48%;
    
}

.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:400px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;

}


/* ADD FORM STUFF OLD */
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background: white    /* #3b5998 */  ;
    border-radius: 10px;
    /*margin: 0 auto; //get the whole thing to center */

}

.flex-item {
  background: white; /* tomato*/
  border: 3px solid rgba(0,0,0,.2);
  line-height: 100px;
  color: black;
  /*font-weight: bold;*/
  font-size: 1.2em;
  text-align: center;
  border-radius: 5px;
}


.flex-item:nth-of-type(1) { flex-grow: 0; }
.flex-item:nth-of-type(2) { flex-grow: 0; }
.flex-item:nth-of-type() { flex-grow: 3; }



/* form validation stuff */

.error {
    color:red;
}

/* alignment of span */

.tag {
    float: right;
}


/* search text box in show all */

input[type=search] {
    width: 310px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 0 10px;

}


/* making fancy heading for KB root:3000 */

.heading { 
    color: gray/* #d54d7b */; 
    font-family: "Great Vibes", cursive; 
    font-size: 45px; 
    line-height: 130px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 30px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; }


/* fancy font */
.home { 
    color: #7a7c7f; 
    font-size: 29px; 
    font-family: "Libre Baskerville", serif; 
    line-height: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff;
    padding-top: 5spx; 
    border-radius: 5px
    
    }

/* root button css NOT in USE */ 

.hom {

  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

.hom:hover {
  background: #3cb0fd;
  text-decoration: none;

}


/* logout */ 

a {

  font-size: 25px;
  color: gray;
  font-family: "Libre Baskerville", serif; 
}

a:hover {

  text-decoration: none;
  color: #f44336;
  font-family: "Libre Baskerville", serif; 
}


/* textboxes for login and registration */ 

.form-control {

  width: 30%; 
  text-align: center;
  margin: 0 auto;

}

/* p elements */ 

.writing {
  font-family: "Libre Baskerville", serif; 
  color: #4c4c4c;
  font-size: 20px;

}

/* register button */ 

.register {

  border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
  background-color: darkgray;
  border-radius: 5px;


}

